<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Login"></Label>
</ActionBar>

<ScrollView class="page">
    <StackLayout class="home-panel">
        <Label class="h1 text-center text-uppercase" text="Login"></Label>
        <Button class="btn btn-primary" text="Home" [nsRouterLink]="['/home']"></Button>
        <Button class="btn btn-primary" text="User" [nsRouterLink]="['/user']"></Button>
        <Button class="btn btn-primary" text="Reserve" [nsRouterLink]="['/reserve']"></Button>
        <Button class="btn btn-primary" text="Schedule" [nsRouterLink]="['/schedule']"></Button>
    </StackLayout>
</ScrollView>